<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true">

	<distributable />

	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<description>Use custom resource resolver to load facelets from Jar
		</description>
		<param-name>javax.faces.FACELETS_RESOURCE_RESOLVER</param-name>
		<param-value>uk.co.slc.sfd.cp.ft.jsf.CustomResourceResolver
		</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>facesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<context-param>
		<description>Required to generate valid XHTML</description>
		<param-name>com.sun.faces.enableViewStateIdRendering</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<description>Required to generate valid XHTML</description>
		<param-name>com.sun.faces.autoCompleteOffOnViewState</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.omnifaces.HTML5_RENDER_KIT_PASSTHROUGH_ATTRIBUTES</param-name>
		<param-value>
            javax.faces.component.UIComponent=aria-labelledby,aria-describedby
        </param-value>
	</context-param>

	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<!-- name of the file to be used as welcome file -->
		<welcome-file>/pages/menu.xhtml</welcome-file> <!-- + -->
	</welcome-file-list>

	<session-config>
		<session-timeout>3</session-timeout>
	</session-config>
</web-app>
